node_modules
dist
.ax-docs
.bin
.jest
.playground
.vscode
docs
logs
.logs
ServiceFabricPackage
ax-cli
**/*.d.ts
**/*.js
ax-models
ax-vendors/entries/*.js
ax-vendors/entries/@material
ax-vendors/entries/material-components-web
ax-vendors/entries/vue-router
services
w-models/wealth-construction